html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-image: url("sunset-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0;
  justify-content: center;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: -1;
}

#container {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

#pom-timer {
  font-size: 4vw;
}

#timer {
  align-items: center;
  display: flex;
  color: #ffffff;
  font-size: 15vw;
}

.timer-actions button {
  border-radius: 500px;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 2rem;
  margin: 5px;
}

.timer-actions button:hover {
  cursor: pointer;
  color: #f292b2;
  opacity: 0.5;
  transition-timing-function: ease-in-out;
}
